body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}




.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(bg.png)
}

.main-img {
    z-index: 1;
    display: flex;
    align-items: center;
    height: auto;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 60px;
}

.ques {
    justify-content: center;
    color: #be3528;
    align-items: center;
    z-index: 1;
    display: flex;
    font-family: 'La Belle Aurore', cursive;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 168px;
    padding: auto;
    margin-right: 2.4em;
}

.b1 {
    justify-content: center;
    align-items: center;
    background-color: #ea7151;
    color: white;
    font-weight: bold;
    font-size: large;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 20px;
    
}

.b1:hover {
    background-color: rgba(234, 113, 81, 0.8);
}

.b2 {
    justify-content: center;
    background-color: #ea7151;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: large;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 20px;
    
}

.b2:hover {
    background-color: rgba(234, 113, 81, 0.8);
}

.b3 {
    justify-content: center;
    background-color: #ea7151;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: large;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    display: none;
    
}

.b3:hover {
    background-color: rgba(234, 113, 81, 0.8);
}